.row {
  display: flex;

  align-items: center;
  padding: 1%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.col1 {
  display: flex;

  padding-left: 5% !important;
  justify-content: flex-start;
}
.atools {
  font-size: 35px !important;
  color: #023047;
  font-weight: 900 !important;
}
.dot {
  font-size: 35px !important;
  color: #fb8500 !important;
  font-weight: 900 !important;
}
.bttn1 {
  width: 100%;
  font-weight: 700 !important;
  margin-right: 5%;
  height: 45px !important;
}
.bttn2 {
  width: 100%;
  border-color: #fb8500 !important;
  background-color: #fb8500 !important;
  font-weight: 700 !important;
  height: 45px !important;
}
.movebttn {
  margin-left: 2.7%;
}
